name: build

on: [push, pull_request]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2-beta
              with:
                  node-version: "14"
            - name: install
              run: npm install
            - name: test
              run: npm test
            - uses: codecov/codecov-action@v1
              with:
                  file: ./coverage/coverage-final.json
